.skills-ul{
  width: 100%;
  height: auto;
  list-style-type: none;
  white-space:pre;
  box-sizing: border-box;
}
.skills-ul li{
    font-family: 'Dosis',sans-serif;
    font-size: 1em;
    font-weight: 300;
    border:solid 1px #666;
    color: #000;
    margin: 10px;
    padding: 3px 20px;
    border-radius: 10px;
    float: left;
    position: relative;
    display: inline-block;
}
